#portal .friendListModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
  }
#friendListModal {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
    width: 350px;
    height: 400px;
    background: white;
    display: flex;
    flex-direction: row;
    // align-items: center;
    align-items: flex-start;
    // justify-content: center
    justify-content: space-between;
    border-radius: 5px;
    position: relative;
    animation: animate 0.3s;
    overflow: hidden;
    box-shadow: 2px -1px 1px black;
  }

  #currentFriends {
    display: flex;
    flex-direction: column;
    width: 50%;
    // justify-content: center;
    align-items: center;
    border-right: 1px dashed black;
    height: 350px;
  }

  #currentFriendList {
    height: 275px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    text-align: left;
    width: 60%;
    margin-top: 25px;
    scrollbar-color: grey;
    border: 1px black solid;
    // padding-top: 10px;
    // padding-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
    list-style-type: none;
  }

  #addFriendContainer {
    width: 50%;
    text-align: center;
  }

  .currentFriend {
    // margin-right: 10px;
    padding-right: 10px;
    margin-bottom: 1em;
  }

.removeFriendButton {
    margin-right: 10px;
    padding: 1px 3px;
    background: crimson;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: 50%;
    font-size: smaller;
}

.removeFriendButton:hover {
    opacity: 100%;
}

.addFriendForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
    margin: auto;
    margin-top: 2em;
    div {
        margin-bottom: 2em;
    }
}
  
.buttonDiv {
    width: 100%
}

.addFriendButton:hover {
    cursor: pointer;
}