#leaderboardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 75%;
    height: 100%;
    margin: auto;

    h2, h4 {
        margin-top: .5em;
    }
}

.leaderboard {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    min-width: 75%
}

.leaderboardTable {
    margin: auto;
    width: 300px;
    tbody {
        overflow: hidden;
        overflow-y: scroll;
        max-height: 350px;
        display: block;
    }
}



#logInSignUpDiv {
    margin: 1.5em;
    margin-top: 5em;
    display: flex;
    font-size: small;
    flex-wrap: wrap;
    justify-content: center;
}

.leaderboardRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.leaderboardHeader {
    font-style:italic;
    font-size: small;
}

#leaderboardHeaderRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

#friendsListButton {
    text-align: center;
    margin: auto;
    margin-top: 5em;
    width: fit-content;
    background-color: rgb(145, 22, 145);
    color: white;
    border: 1px solid black;
    box-shadow: none;
    padding: 10px 15px;
    border-radius: 20px;
}

#friendsListButton:hover {
    cursor: pointer;
    color: black;
}

#logOutButton:hover {
    cursor: pointer;
}


#logOutButton {
    text-align: center;
    width: 75px;
    margin: auto;
    margin-top: 3em;
}

.leaderboardName.unfinished {
    font-style: italic;
}

.leaderboardTime, .leaderboardName, .leaderboardPlace {
    font-size: small;
}

tr.leaderboardRow {
    padding-top: 5px;
    border-top: 1px solid grey;
}

.tableBorder {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;

    tr:first-child {
        border-top: none;
    }
}

.unfinished {
    color: grey;
}

.leaderboardName {
    width: 60%;
    text-align: start;
}

.leaderboardHeader.leaderboardName {
    width: 65%;
}

#logOutButton {
    // background-color: rgb(145, 22, 145);
    background-color: black;
    color: white;
    border: 1px solid black;
    box-shadow: none;
    padding: 10px 15px;
    border-radius: 20px;
    width: fit-content;
}

#logOutButton.darkMode {
    background-color: rgb(167, 165, 165);
    color: black;
}

#logOutButton:hover {
    color: gray
}

#logOutButton.darkMode:hover {
    color: white
}