#leaderboardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 75%;
    margin: auto;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    margin: 1.5em
    // style later
}

#logInSignUpDiv {
    margin: 1.5em;
    margin-top: 5em;
    display: flex;
    font-size: small;
    flex-wrap: wrap;
    justify-content: center;
}

.leaderboardRow {
    display: flex;
    justify-content: space-between;
}

.leaderboardHeader {
    font-style:italic;
    font-size: small;
}

#leaderboardHeaderRow {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}