#navbar {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: rgb(145, 22, 145);
    // position: fixed;
    // top: 0;
    width: 100%;
    // z-index: 99;
    a {
        margin: .5em;
        font-size: larger;
        text-decoration: none;
        color: white;
        display: inline-block;
        position: relative;
        padding-bottom: .25em;
    }
    .selected {
        border-bottom: 1px solid white;
    }
}


@media screen and (max-width: 500px){
    #navbar {
        height: 120px;
        a {
            font-size: large;
        }
    }
}