#portal .signUpModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
  }
#signUpModal {
    z-index: 1;
    width: 350px;
    height: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    animation: animate 0.3s;
    overflow: hidden;
    box-shadow: 2px 1px 1px black;
    color: black
  }
#signUpModal.darkMode {
  background-color: rgb(48, 46, 46);
  color: white
}

  .signUpLink {
    color: blue;
    margin-left: .25em;
    margin-right: .25em;
  }
  .signUpLink.darkMode {
    color: rgb(215, 80, 211)
  }
  .signUpLink:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .switchModalDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: small;
  }

  #userPassReqs {
    // text-align: center;
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 1em;
    font-size: smaller;
    font-style: italic;
  }

  .signUpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .formBox {
    display: flex;
    flex-direction: column;
    margin-left: 28.5%;
    margin-bottom: .5em;
    max-width: 50%;
  }

  .formInput {
    margin-top: .1em;
  }

  .signUpButton {
    width:fit-content;
    margin: auto;
    margin-top: 1em;
    background-color: rgb(145, 22, 145);
    color: white;
    border: 1px solid black;
    box-shadow: none;
    padding: 10px 15px;
    border-radius: 20px;
  }

  .signUpButton:hover {
    cursor: pointer;
    color: black;
  }

  .signUpButton:disabled {
    background-color: rgb(208, 96, 208);
  }

  .signUpButton:disabled:hover {
    color: white;
    cursor: not-allowed;
  }

  .label {
    font-size: small;
  }