#solveGrid {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    min-width: 50%;
    margin: auto;
    margin-top: 1em;
    justify-self: center;
    align-items: center;
}

.solveGridRow {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.solveGridSquare {
    border: 1px gray solid;
    border-radius: 10%;
    margin: .5em;
    width: 50px;
    height: 50px;
    text-align: center;
    // won't likely need text-align later; just for testing purposes now
}

.wiggle {
    
}

.wiggle:hover {
    cursor: pointer;
    transform: scale(1.1);
}