#tileBank {
    width: 100%;
    height: 250px;
    // min-height: 130px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

#tileBank.darkMode {
    background-color: rgb(159, 150, 150);
}

.tileBankTile {
    border: 1px black solid;
    border-radius: 5%;
    margin: .5em;
    width: 45px;
    height: 45px;
    text-align: center;
    overflow: hidden;

    img {
        position: relative;
    }
}

.tileBankTile:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.tileBankTile.selected {
    border: 1px blue solid;
    transform: scale(1.1);
}

#tileBankContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    // min-width: 60%;
    // max-width: 90%;
    width: 75%;
    min-height: 150px;
    p {
        font-style: italic;
        margin-bottom: .5em;
    }
}

#noTilesMsg {
    margin-top: 2em;
}

#noTilesMsg.darkMode {
    color: black;
    background-color: rgb(159, 150, 150);
}