#solveGrid {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  min-width: 50%;
  margin: auto;
  margin-top: 1em;
  justify-self: center;
  align-items: center;
}
.solveGridRow {
  margin: auto;
  display: flex;
  flex-direction: row;
}
.solveGridSquare {
  border: 1px gray solid;
  border-radius: 5%;
  margin: 0.1em;
  width: 60px;
  height: 60px;
  text-align: center;
  overflow: hidden;
}
.solveGridSquare img {
  position: relative;
}
.solveGridSquare.darkMode {
  background-color: #b8b8b8;
  border: 1px black solid;
}
.solveGridSquare.selected {
  border: 1px blue solid;
  transform: scale(1.1);
  animation: none;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
  65% {
    transform: rotate(-3deg);
  }
  80% {
    transform: rotate(1.5deg);
  }
  90% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.wiggle {
  display: inline-block;
  animation: wiggle 1s infinite;
}
.wiggle:hover {
  cursor: pointer;
  transform: scale(1.1);
  animation: none;
}
.clickable:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#playPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#playPage h2 {
  margin-top: 0.5em;
}
#titleHintContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#hint {
  position: absolute;
  right: 0;
  margin-right: 1.5em;
  color: green;
  text-decoration: underline;
  margin-top: 1em;
}
#hint.darkMode {
  color: #d750d3;
}
#hint:hover {
  cursor: pointer;
}
#navbar {
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  align-items: baseline;
  background-color: #911691;
  width: 100%;
}
#navbar a {
  margin: 0.5em;
  font-size: larger;
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding-bottom: 0.25em;
}
#navbar .selected {
  border-bottom: 1px solid white;
}
#navbarRight {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#homeLink {
  font-size: 36px;
}
.navIcon {
  height: 25px;
  width: 25px;
  color: white;
  margin: 2px;
}
@media screen and (max-width: 500px) {
  #navbar a {
    font-size: large;
  }
}
* {
  margin: 0px;
  max-width: 100%;
  font-family: 'Gill Sans';
}
#root {
  min-height: 100vh;
}
.nav-buffer {
  height: 80px;
}
.darkMode {
  background-color: #302e2e;
  color: white;
}
@media screen and (max-width: 500px) {
  .nav-buffer {
    height: 120px;
  }
}
#tileBank {
  width: 100%;
  max-height: 250px;
  min-height: 150px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2em;
  overflow: hidden;
  overflow-y: scroll;
}
#tileBank.darkMode {
  background-color: #b8b8b8;
}
.tileBankTile {
  border: 1px black solid;
  border-radius: 5%;
  margin: 0.5em;
  width: 45px;
  height: 45px;
  text-align: center;
  overflow: hidden;
}
.tileBankTile img {
  position: relative;
}
.tileBankTile:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.tileBankTile.selected {
  border: 1px blue solid;
  transform: scale(1.1);
}
#tileBankContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 75%;
  min-height: 150px;
}
#tileBankContainer p {
  font-style: italic;
  margin-bottom: 0.5em;
}
#noTilesMsg {
  margin-top: 2em;
}
#noTilesMsg.darkMode {
  color: black;
  background-color: #b8b8b8;
}
#portal .hintModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
#hintModal {
  z-index: 1;
  width: 350px;
  height: 350px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
  overflow: hidden;
  box-shadow: 2px 1px 1px black;
}
.closeModal {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 3px 5px;
  background: crimson;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  opacity: 50%;
}
.closeModal:hover {
  opacity: 100%;
}
#hintModalImg {
  width: 100%;
  height: 100%;
}
@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
#portal .winModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
#winModal {
  z-index: 1;
  width: 90%;
  height: 80%;
  min-height: 500px;
  background: white;
  opacity: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
  overflow: hidden;
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
  box-shadow: 2px 1px 1px black;
  padding: 10px;
  color: black;
}
#winModal.darkMode {
  background-color: #302e2e;
  color: white;
}
#winModalImg {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
#winMessage {
  font-size: larger;
  width: 80%;
  margin-top: 1em;
  text-align: center;
}
#hintUsedMessage {
  font-size: smaller;
  font-style: italic;
  text-align: center;
  width: 80%;
}
.shareButton {
  background-color: #911691;
  color: white;
  border: 1px solid black;
  box-shadow: none;
  padding: 10px 15px;
  border-radius: 20px;
}
.shareButton:hover {
  cursor: pointer;
  color: black;
}
#winStatisticsTable {
  width: 250px;
}
#statsHeader {
  font-size: x-small;
}
#statsHeader th {
  padding-left: 1em;
  padding-right: 1em;
}
#statsValues {
  font-size: larger;
  text-align: center;
}
@media screen and (max-width: 500px) {
  #winModal {
    height: 80%;
  }
}
#portal .signUpModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
#signUpModal {
  z-index: 1;
  width: 350px;
  height: 400px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
  overflow: hidden;
  box-shadow: 2px 1px 1px black;
  color: black;
}
#signUpModal.darkMode {
  background-color: #302e2e;
  color: white;
}
.signUpLink {
  color: blue;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.signUpLink.darkMode {
  color: #d750d3;
}
.signUpLink:hover {
  cursor: pointer;
  text-decoration: underline;
}
.switchModalDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: small;
}
#userPassReqs {
  margin-top: 2em;
  margin-right: 1em;
  margin-left: 1em;
  font-size: smaller;
  font-style: italic;
}
.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formBox {
  display: flex;
  flex-direction: column;
  margin-left: 28.5%;
  margin-bottom: 0.5em;
  max-width: 50%;
}
.formInput {
  margin-top: 0.1em;
}
.signUpButton {
  width: fit-content;
  margin: auto;
  margin-top: 1em;
  background-color: #911691;
  color: white;
  border: 1px solid black;
  box-shadow: none;
  padding: 10px 15px;
  border-radius: 20px;
}
.signUpButton:hover {
  cursor: pointer;
  color: black;
}
.signUpButton:disabled {
  background-color: #d060d0;
}
.signUpButton:disabled:hover {
  color: white;
  cursor: not-allowed;
}
.label {
  font-size: small;
}
#portal .logInModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
#logInModal {
  z-index: 1;
  width: 350px;
  height: 200px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
  overflow: hidden;
  box-shadow: 2px 1px 1px black;
  color: black;
}
#logInModal.darkMode {
  background-color: #302e2e;
  color: white;
}
.logInLink {
  color: blue;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.logInLink.darkMode {
  color: #d750d3;
}
.logInLink:hover {
  cursor: pointer;
  text-decoration: underline;
}
#userPassLogInDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}
.logInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formBox.login {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 40%;
}
.formBox.button {
  max-width: 100%;
  margin: auto;
}
.logInButton {
  width: fit-content;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 1em;
  background-color: #911691;
  color: white;
  border: 1px solid black;
  box-shadow: none;
  padding: 10px 15px;
  border-radius: 20px;
}
.logInButton:hover {
  cursor: pointer;
  color: black;
}
.logInButton:disabled {
  background-color: #d060d0;
}
.logInButton:disabled:hover {
  color: white;
  cursor: not-allowed;
}
#leaderboardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 75%;
  height: 100%;
  margin: auto;
}
#leaderboardContainer h2,
#leaderboardContainer h4 {
  margin-top: 0.5em;
}
.leaderboard {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  min-width: 75%;
}
.leaderboardTable {
  margin: auto;
  width: 300px;
}
.leaderboardTable tbody {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 350px;
  display: block;
}
#logInSignUpDiv {
  margin: 1.5em;
  margin-top: 5em;
  display: flex;
  font-size: small;
  flex-wrap: wrap;
  justify-content: center;
}
.leaderboardRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.leaderboardHeader {
  font-style: italic;
  font-size: small;
}
#leaderboardHeaderRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
#friendsListButton {
  text-align: center;
  margin: auto;
  margin-top: 5em;
  width: fit-content;
  background-color: #911691;
  color: white;
  border: 1px solid black;
  box-shadow: none;
  padding: 10px 15px;
  border-radius: 20px;
}
#friendsListButton:hover {
  cursor: pointer;
  color: black;
}
#logOutButton:hover {
  cursor: pointer;
}
#logOutButton {
  text-align: center;
  width: 75px;
  margin: auto;
  margin-top: 3em;
}
.leaderboardName.unfinished {
  font-style: italic;
}
.leaderboardTime,
.leaderboardName,
.leaderboardPlace {
  font-size: small;
}
tr.leaderboardRow {
  padding-top: 5px;
  border-top: 1px solid grey;
}
.tableBorder {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
}
.tableBorder tr:first-child {
  border-top: none;
}
.unfinished {
  color: grey;
}
.leaderboardName {
  width: 60%;
  text-align: start;
}
.leaderboardHeader.leaderboardName {
  width: 65%;
}
#logOutButton {
  background-color: black;
  color: white;
  border: 1px solid black;
  box-shadow: none;
  padding: 10px 15px;
  border-radius: 20px;
  width: fit-content;
}
#logOutButton.darkMode {
  background-color: #a7a5a5;
  color: black;
}
#logOutButton:hover {
  color: gray;
}
#logOutButton.darkMode:hover {
  color: white;
}
#portal .friendListModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
#friendListModal {
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
  width: 350px;
  height: 400px;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
  overflow: hidden;
  box-shadow: 2px 1px 1px black;
  color: black;
}
#friendListModal.darkMode {
  background-color: #302e2e;
  color: white;
}
#currentFriends {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  border-right: 1px dashed black;
  height: 350px;
}
#currentFriends.darkMode {
  border-right: 1px dashed white;
}
#currentFriendList {
  height: 275px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
  text-align: left;
  width: 60%;
  margin-top: 25px;
  scrollbar-color: grey;
  border: 1px black solid;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px grey;
  list-style-type: none;
}
#currentFriendList.darkMode {
  border: 1px white solid;
}
#addFriendContainer {
  width: 50%;
  text-align: center;
}
.currentFriend {
  padding-right: 10px;
  margin-bottom: 1em;
}
.removeFriendButton {
  margin-right: 10px;
  padding: 1px 3px;
  background: crimson;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  opacity: 50%;
  font-size: smaller;
}
.removeFriendButton:hover {
  opacity: 100%;
}
.addFriendForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;
  margin: auto;
  margin-top: 2em;
}
.addFriendForm div {
  margin-bottom: 2em;
}
.buttonDiv {
  width: 100%;
}
.addFriendButton {
  background-color: #911691;
  color: white;
  border: 1px solid black;
  box-shadow: none;
  padding: 10px 15px;
  border-radius: 20px;
}
.addFriendButton:hover {
  cursor: pointer;
  color: black;
}
.home-container {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-container *:first-child {
  margin: 1em;
}
a.homeLink {
  margin: 0 auto !important;
  display: block;
}
.playButton {
  width: 100px;
  background-color: #911691;
  color: white;
  border: 1px solid black;
  box-shadow: none;
  padding: 10px 15px;
  border-radius: 20px;
}
.rulesButton {
  width: 100px;
  background-color: white;
  color: black;
  border: 1px solid #911691;
  box-shadow: none;
  padding: 10px 15px;
  border-radius: 20px;
}
.playButton:hover {
  cursor: pointer;
  color: black;
}
.rulesButton:hover {
  cursor: pointer;
  color: #911691;
}
.home-container.solved {
  margin-top: 5em;
  text-align: center;
}
.home-container.solved h3 {
  margin-bottom: 0.5em;
}
.home-container.solved p {
  width: 250px;
  margin-bottom: 2em;
  font-size: small;
}
#settingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
#settingsContainer h2 {
  text-decoration: underline;
  margin-bottom: 2em;
}
.settingDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  max-width: 200px;
}
#darkModeToggle {
  background-color: black;
  color: white;
  border: 1px solid black;
  box-shadow: none;
  padding: 5px 10px;
  border-radius: 20px;
  width: 75px;
}
#darkModeToggle:hover {
  color: gray;
  cursor: pointer;
}
#darkModeToggle.darkMode {
  background-color: #a7a5a5;
  color: black;
}
#darkModeToggle.darkMode:hover {
  color: white;
}
